---
interface Props {
    question?: string;
    answer?: string;
    id: number;
}

const { question, answer, id } = Astro.props;
---

<div id={`card-${id}`} class="card">
    <a href="#" class="card-header">
        <!-- <a> -->
            <p class="">
                {question}
            </p>
        <!-- </a> -->
    </a>
    <div class="card-body">
        <p>{answer}</p>
    </div>
</div>

<style lang="less">
    .card-body {
        display: none;
        max-height: 0;
    }
</style>

<script define:vars={{id}}>
    function main() {
        const cardId = `#card-${id}`;

        const card = document.querySelector(cardId);
        if (!card) return;
        const cardHeader = card.querySelector(`.card-header`);
        if (!cardHeader) return;
        const cardBody = card.querySelector(`.card-body`);
        if (!cardBody) return;

        cardHeader.removeAttribute('href');
        cardHeader.addEventListener('click', () => {
            cardBody.style.display = cardBody.style.display === 'none' ? 'block' : 'none';
            cardBody.style.height = cardBody.style.height === '0px' ? `${cardBody.scrollHeight}px` : '0px';
        });
    }

    main();
</script>