---
import Layout from "@layouts/Layout.astro";

import ParallaxImage from "@components/ParallaxImage.astro";
import PageSection from "@components/PageSection.astro";

import Index1 from "@images/index/index1.jpg";
import Index2 from "@images/index/index2.jpg";
import Index3 from "@images/index/index3.jpg";
import Index4 from "@images/index/index4.jpeg";
import Index5 from "@images/index/index5.jpeg";
import Index6 from "@images/index/index6.jpeg";
import Index7 from "@images/index/index7.jpg";

import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("index.title")} description={t("index.description")}>
    <ParallaxImage image={Index1} heading={t("index.welcome")} />
    <ParallaxImage image={Index2} heading={t("index.terrace")} />
    <ParallaxImage image={Index3} heading={t("index.seaview")} />
    <ParallaxImage image={Index4} heading={t("index.smile")} />

    <PageSection>
        TODO: Add back!
        <!-- <slot name="google-reviews-widget" /> -->
    </PageSection>
    <div style="margin-bottom: 5rem;"></div>
    
    <ParallaxImage image={Index5} />
    <ParallaxImage image={Index6} />
    <ParallaxImage image={Index7} />
</Layout>

<style lang="less">
</style>